<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/ip https://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">

	<context:property-placeholder />

	<bean
		id="echoService"
		class="kr.kis.RelayServer.EchoService" />

	<int:service-activator
		input-channel="RELAY_REQUEST_CHANNEL"
		ref="echoService"
		method="test" />

	<int:transformer
		id="errorHandler"
		input-channel="errorChannel"
		expression="payload.failedMessage.payload + ':' + payload.cause.message" />

	<int-ip:tcp-connection-factory
		id="RELAY_CONNECTION_FACTORY"
		type="server"
		using-nio="true"
		port="8080" />

	<int-ip:tcp-connection-factory
		id="HOST_CONNECTION_FACTORY"
		so-timeout="10000"
		type="client"
		using-nio="true"
		host="localhost"
		port="8081" />

	<int:channel id="RELAY_REQUEST_CHANNEL" />
	<int:channel id="RELAY_REPLAY_CHANNEL" />
	<int:channel id="HOST_REQUEST_CHANNEL" />
	<int:channel id="HOST_REPLAY_CHANNEL" />

	<int-ip:tcp-inbound-gateway
		id="INBOUND"
		connection-factory="RELAY_CONNECTION_FACTORY"
		request-channel="RELAY_REQUEST_CHANNEL"
		reply-channel="RELAY_REPLAY_CHANNEL"
		reply-timeout="10000"
		error-channel="errorChannel" />

	<int:object-to-string-transformer
		id="clientBytes2String"
		input-channel="RELAY_REQUEST_CHANNEL" />

	<int-ip:tcp-outbound-gateway
		id="outGateway"
		request-channel="HOST_REQUEST_CHANNEL"
		reply-channel="HOST_REPLAY_CHANNEL"
		connection-factory="HOST_CONNECTION_FACTORY"
		request-timeout="10000"
		reply-timeout="10000" />


</beans>
